<h2>Editando Produto com ID {{idProduto}}</h2>
<form action="/ediReqProduto/{{idProduto}}" method="POST">
<div class="mb-3">
    <label class="form-label">Descrição</label>
    <input class="form-control" type="text" name="descricaoProduto">
</div>
<div class="mb-3">
    <label class="form-label">Preço</label>
    <input class="form-control" type="text" name="precoProduto">
</div>
<div class="mb-3">
    <label class="form-label">Categoria</label>
    <select class="form-control" name="idCategoria">
            <option value=1>Informática</option>
            <option value=2>Roupas</option>
            <option value=3>Calçados</option>
            <option value=4>Perfumaria</option>
        </select>
</div>
    <button type="submit" class="btn btn-primary">Atualizar</button>
</form>