<form action="/produtos" method="POST">
    <div class="mb-3">
        <label class="form-label">Descrição</label>
        <input class="form-control" type="text" name="descricaoProduto">
    </div>
    <div class="mb-3">
        <label class="form-label">Preço</label>
        <input class="form-control" type="text" name="precoProduto">
    </div>
    <div class="mb-3">
        <label class="form-label">Categoria</label>
        <select class="form-control" name="idCategoria">
            <option value="true">Sim</option>
            <option value="false">Não</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>