<form action="/produtos" method="POST">
    <div class="mb-3">
        <label class="form-label">Descrição</label>
        <input class="form-control" type="text" name="descricao">
    </div>
    <div class="mb-3">
        <label class="form-label">Preço</label>
        <input class="form-control" type="text" name="preco">
    </div>
    <div class="mb-3">
        <label class="form-label">Categoria</label>
        <select class="form-control" name="idCateg">
            <option value=1>Informática</option>
            <option value=2>Roupas</option>
            <option value=3>Calçados</option>
            <option value=4>Perfumaria</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>